<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Change user password</h4>
</div>
<div class="modal-body">


    <form>


        <div class="form-group row">
            <label for="job-time-item-end-time" class="col-sm-2 form-control-label">Login:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-bind="loginName" value="{{loginName}}" disabled="disabled"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="job-time-item-end-time" class="col-sm-2 form-control-label">New Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" data-bind="newPassword" value="{{newPassword}}"  />
            </div>
        </div>

        <div class="form-group row">
            <label for="job-time-item-end-time" class="col-sm-2 form-control-label">Confirm Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" data-bind="confirmPassword" value="{{confirmPassword}}" />
            </div>
        </div>



    </form>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="time-card-project-selector-ok" onclick="return jAction.password.applySetPassword();">Apply</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>